@model GestionIMM.Models.TransactionVente

@{
    ViewData["Title"] = "Create";
}

<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<style>
    body {
        background-color: #FBF9F1; /* Background color */
    }

    .btn-custom {
        background-color: #92C7CF; /* Button color */
        border-color: #92C7CF;
    }

        .btn-custom:hover {
            background-color: #7DA8AF; /* Button hover color */
            border-color: #7DA8AF;
        }

    .link-custom {
        color: #92C7CF; /* Link color */
    }

    .form-row {
        margin-bottom: 20px; /* Space between rows */
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-content .form-items {
        background-color: #FBF9F1; /* Form background color */
        border-radius: 10px;
        border: 3px solid #E5E1DA; /* Form border */
        padding: 20px;
        margin-bottom: 20px;
        width: 80%; /* Form width */
        margin: auto;
        margin-top: 30px;
    }
</style>

<h1>Create TransactionVente</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-content">
            <div class="form-items">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Form fields for TransactionVente -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="ProprieteId" class="control-label"></label>
                            <select asp-for="ProprieteId" asp-items="@(ViewData["ProprieteId"] as SelectList)" class="form-control">
                                <option value="">Sélectionnez une propriété</option>
                            </select>
                            <span asp-validation-for="ProprieteId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="AcheteurId" class="control-label"></label>
                            <select asp-for="AcheteurId" asp-items="@(ViewData["AcheteurId"] as SelectList)" class="form-control">
                                <option value="">Sélectionnez un Acheteur</option>
                            </select>
                            <span asp-validation-for="AcheteurId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="DateTransaction" class="control-label"></label>
                            <input asp-for="DateTransaction" class="form-control" />
                            <span asp-validation-for="DateTransaction" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Montant" class="control-label"></label>
                            <input asp-for="Montant" class="form-control" />
                            <span asp-validation-for="Montant" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-footer">
                        <a asp-action="Index" class="link-custom">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-custom" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="link-custom">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
