@model GestionIMM.Models.TransactionVente

@{
    ViewData["Title"] = "Details";
}
<!-- Include Bootstrap CSS -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v6 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/FM/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/FM/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="~/FM/images/frr.jpg" alt="">
            </div>
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />

                <!-- Form fields for ContratLocation -->
                <div class="form-row">
                    <input asp-for="Propriete.Type" class="form-control" readonly />
                    <input asp-for="Client.Nom" class="form-control" readonly />

                </div><br /><br /><br />

                <div class="form-row">

                    <input asp-for="DateTransaction" class="form-control" readonly />
                    <span asp-validation-for="DateTransaction" class="text-danger"></span>
                    <input asp-for="Montant" class="form-control" type="number" placeholder="Paiment" readonly/>
                    <span asp-validation-for="Montant" class="text-danger"></span>
                </div><br /><br /><br />


                <button style="background:  #161A30; color: white;" asp-action="Index">
                    Back
                    <i class="zmdi zmdi-long-arrow-right"></i>
                </button>
            </form>


        </div>
    </div>

    <script src="~/FM/js/jquery-3.3.1.min.js"></script>
    <script src="~/FM/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
