@model GestionIMM.Models.TransactionVente

@{
    ViewData["Title"] = "Details";
}

<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<style>
    body {
        background-color: #FBF9F1; /* Background color */
    }

    .link-custom, .link-custom:hover {
        color: #92C7CF; /* Link color */
        text-decoration: none;
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-content .form-items {
        background-color: #FBF9F1; /* Form background color */
        border-radius: 10px;
        border: 3px solid #E5E1DA; /* Form border */
        padding: 20px;
        margin-bottom: 20px;
        width: 80%; /* Form width */
        margin: auto;
        margin-top: 30px;
    }

    .form-control-plaintext {
        background-color: #fff; /* White background for readonly fields */
        padding: .375rem .75rem; /* Padding similar to form-control */
        border: 1px solid #ced4da; /* Border similar to form-control */
        border-radius: .25rem; /* Border radius similar to form-control */
    }
</style>

<h1>Details of TransactionVente</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-content">
            <div class="form-items">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Propriété:</label>
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Propriete.Type">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Client:</label>
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Client.Nom">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Date de Transaction:</label>
                        <input type="text" readonly class="form-control-plaintext" value="@Model.DateTransaction.ToString("dd/MM/yyyy")">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Montant:</label>
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Montant.ToString("C")">
                    </div>
                </div>

                <div class="form-footer">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="link-custom">Edit</a>
                    <a asp-action="Index" class="link-custom">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
